{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Register</h3>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
      <div class="card-panel">
        <div class="row">
            <!-- username-->
            <div class="input-field col s12">
                <i class="material-icons prefix cyan-text text-darken-1">account_circle</i>
                <input id="username" type="text" name="username" minlength="3" maxlength="15" class="validate" required>
                <label for="username">Username</label>
            </div>
        </div>
         <!-- password -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix cyan-text text-darken-1">lock_outline</i>
              <input id="password" type="password" name="password" minlength="5" maxlength="15" class="validate" required>
              <label for="password">Password</label>
            </div>
          </div>
          <!-- register submit-->
          <div class="row">
              <button type="submit" class="col s12 btn-large cyan darken-1 text-shadow">
                  Register <i class="material-icons">how_to_reg</i>
              </button>
          </div>
      </div>
    </form>
  </div>

{% endblock %}

